/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@mixin Roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin Noto-Sans {
    font-family: 'Noto Sans', sans-serif;
}

body{
    @include Roboto;
    //color: #fff;
}

h1{
    text-shadow: 1px 0 1px #000;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
    @include Noto-Sans()
}

h2{
    text-shadow: 3px 0 2px #000;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    @include Roboto();
}

h4{
    text-shadow: 2px 0 1px #000;
    margin-top: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-style: oblique;
    @include Noto-Sans()
}

a{
    color: midnightblue;
}

.foter{
    text-align: center;
    padding: 40px 0;
    background-image: url(/images/1.jpg); 
	background-repeat: no-repeat;
    background-position: 50% 82%;
}

.section {
    max-width: 1024px;
    margin: 0 auto;
}

.nav {
    padding: 30px 0;
    font-size: 15px;
    background-color: rgba(102, 238, 24, 0.2);
    
    &__row {
        display: flex;
        position: relative;
    }

    &__choice {
        
        
    }
}

.part {
    display: inline;
    background-color: khaki;
    padding: 8px 15px;
    margin-right: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 5px;
   // border-bottom: 3px solid #000;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 2px 0px rgb(0, 0, 0);
    position: relative;
}


.btn {
    background-color: rgb(173, 230, 173);
    color: #000;
    padding: 20px;
    position: absolute;
    right: 15px;
    margin-top: -20px;
    font-weight: 600;
    font-style: oblique;
    //text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    box-shadow: 0 3px 0px #000;
}


.part:hover{
    top: 2px;
    box-shadow: 0 0px 0px #000;
}

.btn:hover{
    top: 3px; 
    box-shadow: 0 0px 0px #000; 
}


.coment {

    padding: 50px 0;
    background-color: rgba(102, 238, 24, 0.08);

    &__box {
        padding: 30px ;
        margin: 0 auto;
        background-color: #fff;
        width: 480px;
        box-shadow: 5px 5px 10px rgb(2, 54, 2);
    }

    &__text {
        text-align: center;
        line-height: 28px;
        color: #000;
        font-style: italic;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.8px;
    }
}

.title {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    @include Noto-Sans()
}

.list {

    background-color: rgba(102, 238, 24, 0.08);

    &__title {
        text-align: center;
        padding: 30px 0;
    }

    &__definition {
        margin-bottom: 30px;
        background-color: rgba(102, 238, 24, 0.06);
        border-radius: 5px;
    }

    &__definition:last-child{
        margin-bottom: 0px;
    }

    &__row {
        display: flex;
    }

    &__description {
    }

    &__lable {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    @include Noto-Sans();
    margin: 30px 0 0px 40px;
    }

    &__text {
        margin: 10px 0 0px 80px;
        font-size: 16px;
        line-height: 26px;
    }
}

.lest {

    &__img {
        padding: 30px;
    }
}


.description {

    background-color: rgba(102, 238, 24, 0.08);

    &__title {
        text-align: center;
        padding: 30px 0;
    }

    &__body {
        font-size: 16px;
        border-radius: 5px;
        background-color: rgba(102, 238, 24, 0.06);
        line-height: 23px;
    }

    &__body p{
        padding: 15px 0;
    }
}

.clicbait{
    color: #57574f;
    text-decoration: underline;
}

.rightimg {
    float:left;
    margin: 7px 7px 7px 7px;
}




.problems {

    background-color: rgba(102, 238, 24, 0.08);
    &__title {
        text-align: center;
        padding-top: 30px;
        line-height: 38px;
    }

    &__smolsection {
        margin: 0 auto;
        max-width: 950px;

    }

    &__subtitle {
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
        margin-top: 5px;
        font-size: 15px;
        font-weight: 400;
        font-style: oblique;
        @include Noto-Sans()       
    }

    &__body {
        background-color: rgba(102, 238, 24, 0.06);
        border: 3px double #19490f;
        border-radius: 8px;
        margin-top: 30px;
        padding: 25px 10px;
        font-size: 16px;
        line-height: 22px;
    }

    &__red {
        color: rgb(126, 30, 30);
    }

    &__green {
        color: rgb(0, 59, 0);
    }
}





.coment {

    &__title {
        text-align: center;
        padding: 30px;
        line-height: 38px;
    }

    &__row {
        display: flex;
        flex-wrap:wrap;
        margin: 0px -5px;
    }

    &__part {

        padding: 0px 5px;
        margin: 5px auto;
        flex: 0 1 49%;
        background-color: rgb(255, 255, 255);
    }
}
.part {

    box-shadow: 0 2px 0px rgb(5, 70, 14);;
    &__row {
        display: flex;
        box-shadow: 5px 5px 10px rgb(2, 54, 2);
    }

    &__img {
        border: 1px solid #000;
        height: 80px;
        width: 150px;
        border-radius: 50%;
        padding-right: 0px;
        margin: 10px 0 0 10px;
        overflow: hidden;
        border-color: transparent;
        box-shadow: 2px 2px 3px rgb(1, 31, 1);
    }

    &__body {
        padding: 5px;
    }

    
}

.img4{
    margin: -10px 0 0 -20px;
}

.body {

    
    &__row {
        display: flex;
        flex-direction:column;
        min-height: 120px;
        min-width: 120px;
        justify-content: space-between;
    }
}


.part__text {
        flex: 1 1 auto;
        margin: 10px;
        line-height: 20px;
        color: #000;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-style: italic;
    }

    .part__nic {
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 14.5px;
        letter-spacing: 1.2px;
        font-style: italic;
    }

    .footer {
        
        
		&__row {
            display: flex;
            justify-content:space-around;
            flex-wrap: wrap;
		}

		&__imag {
            padding: 5px;
		}
}
.footer__section{
    background-color: rgba(102, 238, 24, 0.36);
    
}
span{
    color: #C8F9AC;   
}

.footer__copirait{
        margin: 10px;
        padding-top: 40px;
        padding-bottom:110px ;
        line-height: 20px;
        color: #000;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-style: italic;
}